{% extends 'aplicacion/index.html' %}


{% block titulo %}

<h1 class="display-4 fw-bolder">Acerca de mi</h1>
    
{% endblock titulo %}


{% block contenido %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h4 class="display-4 fw-bolder">Acerca de mi</h4>
            <p class="lead fw-normal text-white-100 mb-0">ㅤㅤㅤㅤ</p>
            <p class="lead fw-normal text-white-100 mb-0">ㅤㅤㅤㅤ</p>
            <p class="lead fw-normal text-white-100 mb-0">ㅤㅤㅤㅤ</p>
            <p class="lead fw-normal text-white-100 mb-0">Soy Luka Ygelman, Tengo 18 años, soy hincha de River Plate, amante de la musica y posiblemenete estudie CiberSeguridad en la UTN.</p>
        </div>
    </div>
</header> 


    
{% endblock contenido %}