{% extends 'aplicacion/index.html' %}


{% block titulo %}

<h1 class="display-4 fw-bolder">¿Quienes somos?</h1>
    
{% endblock titulo %}


{% block contenido %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h3 class="display-4 fw-bolder">¿Quienes somos?</h3>
            <p class="lead fw-normal text-white-100 mb-0">Somos Argames, una empresa que se dedica a la venta de todo lo relacionado con el mundo de los videojuegos.</p>
            
            <p class="lead fw-normal text-white-100 mb-0">Aqui podras encontrar desde una NES (Nintendo Entertainment System) hasta las consolas mas nuevas como la Paystation 5.</p>
            <p class="lead fw-normal text-white-100 mb-0">Nuestro E-Mail es: Argames@gmail.com y nuestro numero es: 11 3456 7891</p>
        </div>
    </div>
</header> 


    
{% endblock contenido %}


    
    